<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Stock:</b>
  <%= @product.stock %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@product.description, :alt => "Picture", :size => "200x200") %> 
</p>


<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>